$clr-p0: hsl(0, 0%, 63%); /* dark gray */
$clr-p1: hsl(0, 0%, 0%);  /* black */
$clr-p2: hsl(0, 0%, 100%); /* white */
$clr-p3: hsl(0, 0%, 27%); /* very dark gray */

$default-fs: 0.75rem;

$ff: 'League Spartan', sans-serif;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;


