@use "general_style";
@use "variables";
@use "utility";


body {
  min-block-size: 100vh;
  font-family: variables.$f-family;
  background-color: variables.$fc-s0;
}

input,
button {
  accent-color: variables.$fc-s3;
}

/* mixin for the background */

@mixin after($inline-size) {
  content: "";
  position: absolute;
  top: 0;
  left: -35%;
  inline-size: $inline-size;
  block-size: 100%;
  background-image: linear-gradient(to left, variables.$fc-grad1, variables.$fc-grad0);
  border-radius: 0 0 50% 50%;
}

main {
  grid-template: "chat-app content" 125vh / 1fr 1fr;
  gap: variables.$size10;

  .chat {
    position: relative;
    grid-area: chat-app;
 
    &::after {
      @include after(100%);
    }  
  }

  .content {
    align-self: center;
    grid-area: content;
    animation: moveLeft ease-in 3s 1;

    h2, p {
      max-inline-size: 60%;
    }
  }
}


.chat-box {
  position: relative;
  top: 0;
  z-index: variables.$stack1;
  margin-inline: auto clamp(2rem, calc(4vh + 1rem), 5rem);
  max-inline-size: 16rem;
  block-size: 33.5rem;
  margin-block-start: 25vh;
  border: variables.$size0  solid variables.$fc-s0;
  border-radius: 30px;
  box-shadow: 1px 1px 15px 1px variables.$fc-text5,
              1px 1px 5px 1px variables.$fc-text5;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  animation: moveRight ease-in 1.5s 1;

  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    position: sticky;
    top: 0;
    padding-inline: variables.$size1;
    padding-block: variables.$size3 variables.$size0;  
    margin-block-end: variables.$size-e1;
    background-image: linear-gradient(to left, variables.$fc-grad1 10%, variables.$fc-grad0);
    border-radius: 25px 25px 10px 10px;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      inline-size: 60%;
      block-size: calc(variables.$size1 + .25rem);
      margin-inline: variables.$size3;
      background-color: variables.$fc-s0;
      border-radius: 0 0 15px 15px;
    }

    .back-icon {
      max-inline-size: calc(variables.$size0 + .25rem);
    }

    .avatar {
      max-inline-size: variables.$size2;
      block-size: variables.$size2;
      border: 1px solid variables.$fc-s0;
    }

    .options-icon {
      max-inline-size: calc(variables.$size0 + .25rem);
      margin-inline: auto 0;
    }
  }
  
  &__messages {
    padding: calc(variables.$size0 - .25rem) variables.$size0;
  }

  &__input {
    position: sticky;
    bottom: 0; 
    border-radius: 10px;
    padding: variables.$size0; 

    .input-message {
      inline-size: 14rem;
      color: variables.$fc-text2;
      padding: variables.$size0 variables.$size0;
      border: none;
      border-radius: 50px;
    }

    .send-chat {
      position: absolute;
      top: 23%;
      right: 5%;
      max-inline-size: calc(variables.$size2 + .25rem);
      border: none;
      cursor: pointer;
    }
  }
}

.chat-box__messages {
  
  %block-size {
    max-inline-size: 8.5rem;
    margin-block-end: variables.$size1;
  }

  %para {
    padding: variables.$size0;
    margin-block-end: variables.$size0;
  } 

  .chat__walker {
    @extend %block-size;

    p {
      @extend %para;
      width: fit-content;
      color: variables.$fc-text1;
      background-color: variables.$fc-s4; 
      border-radius: 10px 10px 10px 0;
    }
  }

  .chat__user {
    @extend %block-size;
    margin-inline: auto 0;

    p {
      @extend %para;
      width: fit-content;
      margin-inline: auto 0;
      color: variables.$fc-text2;
      background-color: variables.$fc-s0;
      border-radius: 10px 10px 0 10px;
    }
  } 

  .dog-image > * {
    max-inline-size: variables.$size4;
    margin-right: variables.$size0;
    margin-bottom: variables.$size0;
  }
}

.form-price label {
  inline-size: 9rem;
  padding: variables.$size0;
  color: variables.$fc-s0;
  background-image: linear-gradient(to right, variables.$fc-grad0, variables.$fc-grad1);
  border: none;
  border-radius: 10px 10px 10px 0;
  
  input {
    appearance: none;
    inline-size: variables.$size-e1;
    aspect-ratio: 1;
    border: 1px solid variables.$fc-s1;
    border-radius: 50%;
  }

  input:focus-within {
    appearance: auto;
  }

  span {
    font-size: variables.$size-e1;
    font-weight: variables.$fw-2;
    margin-inline: auto 0;
  }
}


footer {
  bottom: 0;
  margin-top: variables.$size6;
  p {
    inline-size: fit-content;
    margin-inline: auto;
  }
}


/* media queries */

@media (max-width: 900px) and (min-width: 750px) {
  main {
    gap: 0;
  }
  .content > * {
    margin-inline: auto;
  }
}

@media (max-width: 749px) {
  main {
    grid-template: "chat-app" 680px "content" auto / 1fr;
    gap: variables.$size2;
    .chat {

      &::after {
        @include after(75%);
      }

      .chat-box {
        margin-inline: auto;
        margin-block-start: 10vh;
      }
    }

    .content {
      padding-inline: variables.$size6;
       
       #h2 {
        font-size: calc(variables.$size3 + .25rem);
        margin-bottom: variables.$size2;
       }

       #h2, p {
        max-inline-size: 100%;
        margin-inline: auto;
        text-align: center;
      }
    }
  } 
}


@keyframes moveRight {
  from  {
    transform: translateX(-1000px);
  } to {
    transform: translateX(0);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(1000px);
  } to {
    transform: translateX(0);
  }
}
