@use "general_style";
@use "variables";
@use "utility";


body {
  min-block-size: 100vh;
  font-family: variables.$f-family;
  background-color: variables.$fc-s0;
}


main {
  grid-template: "chat-app content" 125vh / 1fr 1fr;
  gap: variables.$size7;


  .chat {
    position: relative;
  
 
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -35%;
      inline-size: 100%;
      block-size: 100%;
      background-image: linear-gradient(variables.$fc-grad0, variables.$fc-grad1); 
      border-radius: 0 0 50% 40%;
    }  
  }

  .content {
    align-self: center;

    h2, p {
      max-inline-size: 60%;
    }
  }
}


.chat-box {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: variables.$stack1;
  max-inline-size: 16rem;
  margin-block-start: 20vh;
  padding-inline: variables.$size0 ;
  padding-block: variables.$size1 variables.$size0;
  background-color: variables.$fc-s0;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 3px variables.$fc-s1,
              1px 1px 1px 3px variables.$fc-s1;

  &__header {
    position: relative;
    padding-inline: variables.$size1;
    padding-block: variables.$size3 variables.$size0;  
    background-image: linear-gradient(to left, variables.$fc-grad0 10%, variables.$fc-grad1);
    border-radius: 25px 25px 10px 10px;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      inline-size: 60%;
      block-size: calc(variables.$size1 + .25rem);
      margin-inline: variables.$size3;
      background-color: variables.$fc-s0;
      border-radius: 0 0 15px 15px;
    }

    .back-icon {
      max-inline-size: calc(variables.$size0 + .25rem);
    }

    .avatar {
      max-inline-size: variables.$size2;
      block-size: variables.$size2;
      border: 1px solid variables.$fc-s0;
    }

    .options-icon {
      max-inline-size: calc(variables.$size0 + .25rem);
      margin-inline: auto 0;
    }
  }

  &__input {
    .send-chat {
      max-inline-size: variables.$size2;
    }
  }
} 


.dog-image > * {
  max-inline-size: variables.$size5;
}


footer {
  bottom: 0;
}
