@use "variables";

.grid {
  display: grid;
}

.flex-row {
  display: flex;
}

.align-c {
  align-items: center;
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.t-right {
  text-align: end;
}

.t-left {
  text-align: start;
}

/* font-weight */

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}


/* font-size */

.fs-0 {
  font-size: variables.$size0;
}

.fs-5 {
  font-size: variables.$size5;
}

.fs-4 {
  font-size: variables.$size4; 
}


/* colors */

.tc-0 {
  color: variables.$fc-text0;
}

.tc-1 {
  color: variables.$fc-text1;
}

.tc-2 {
  color: variables.$fc-text2;
}

.tc-3 {
  color: variables.$fc-text3;
}

.tc-4 {
  color: variables.$fc-text4; 
}

.tc-5 {
  color: variables.$fc-text5;
}

.t-light {
  color: variables.$fc-s0;
}


/* sizing */

.size-ratio1 {
  aspect-ratio: 1;
}

.gap0 {
  gap: variables.$size0;
}

/* border radius */

.br-100 {
  border-radius: 100%;
}

.br-10 {
  border-radius: 10%;
}

/* padding and margin */

.pd0 {
  padding: variables.$size0;
}

.pd1 {
  padding: variables.$size1;
}

.pd2 {
  padding: variables.$size2;
}
