@use "variables";

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.margin-inline {
  margin-inline: clamp(1.8rem, calc(5vw + 1rem), 4.5rem);
}

.flow_card > * + * {
  margin-block-start: clamp(.5rem, calc(3vw + .5rem), variables.$size2);
}


@media (max-width: 750px) {
  .flow > * + * {
    margin-block-start: clamp(variables.$size4, calc(8vw + 1rem), variables.$size8); 
  }
}
