@use 'variables';
@use 'generalStyle';
@use 'utility';
@use 'composition';
@use 'button';

body {
  background-image: variables.$mobile-bg;
}

header {
  max-inline-size: clamp(8.75rem, calc(40vw + 10px), 14.40rem);
}

.connect-on-social-media img {
  inline-size: 2rem;
  aspect-ratio: 1;
}

@media (min-width: 750px) {
  body {
    background-image: variables.$desktop-bg;
  }
}
