@use 'variables';

.width-all {
  max-inline-size: 100%;
}

.margin-top {
 margin-block-start: clamp(variables.$size1, calc(5vw + 8px), variables.$size6); 
} 

.fw-600 {
  font-weight: variables.$f-weight600;
}

.fw-400 {
  font-weight: variables.$f-weight400;
}

.f-clr-light {
  color: variables.$clr-light;
}

.f-clr0 {
  color: variables.$clr-primary0;
}

.fs-200 {
  font-size: clamp(variables.$size0, calc(3% + 5px), variables.$size1);
}

.fs-300 {
  font-size: clamp(variables.$size1, calc(5% + 5px), variables.$size4);
}

.bg-dark {
  background-color: variables.$clr-primary0;
}

.bg-light {
  background-color: variables.$clr-light;
}

.t-center {
  text-align: center;
}
