@use 'variables';

.width-all {
  max-inline-size: 100%;
}

.height-all {
  min-block-size: 100%;
}

.margin-top {
 margin-block-start: clamp(variables.$size1, calc(5vw + 8px), variables.$size2); 
} 

.pad-block {
  padding-block: variables.$size0;
}

.ff0 {
  font-family: variables.$f-family0;
}

.ff1 {
  font-family: variables.$f-family1;
}

.fw-600 {
  font-weight: variables.$f-weight600;
}

.fw-400 {
  font-weight: variables.$f-weight400;
}

.f-clr-light {
  color: variables.$clr-light;
}

.fp-clr0 {
  color: variables.$clr-primary0;
}

.fp-clr1 {
  color: variables.$clr-primary1;
}

.bg-dark {
  background-color: variables.$clr-primary0;
}

.bg-light {
  background-color: variables.$clr-light;
}

.t-center {
  text-align: center;
}


@media (min-width: 750px) {
  .margin-block-s {
   margin-block-start: clamp(variables.$size4, calc(8vw + variables.$size1), variables.$size8); 
  }
}
