$clr-primary0: hsl(257, 40%, 49%);
$clr-primary1: hsl(300, 69%, 71%);

$f-family0: 'Open Sans', sans-serif;
$ff0-weight400: 400;

$f-family1: 'Poppins', sans-serif;
$ff1-weight400: 400;
$ff1-weight600: 600;

$desktop-bg: url("../images/bg-desktop.svg");
$mobile-bg: url("../images/bg-mobile.svg");

$spacing0: 1rem;
$spacing1: 1.5rem;
$spacing2: 2rem;
$spacing4: 3rem;
$spacing6: 4rem;
