*,
*::after,
*::before {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* colors used in text  */
/* pale Violet*/
/* moderate Violet */
/* desaturated dark Violet*/
/* grayish Vlue */
/* very dark desaturated Violet */
/* dark grayish Violet */
/* secondary colors */
/* White */
/* light grayish Violet */
/* very dark desaturated Violet */
/* very light Magenta */
/* color used in gradients */
/* light Magenta  */
/* light Violet */
/* font family and font weights */
/* spacing */
/* z-indexes/css stack */
.grid {
  display: grid;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-c {
  align-items: center;
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.t-right {
  text-align: end;
}

.t-left {
  text-align: start;
}

/* font-weight */
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

/* font-size */
.fs-0 {
  font-size: 0.5rem;
}

.fs-5 {
  font-size: 3rem;
}

.fs-4 {
  font-size: 2.5rem;
}

.fs-e1 {
  font-size: 0.75rem;
}

/* colors */
.tc-0 {
  color: hsl(276deg, 100%, 81%);
}

.tc-1 {
  color: hsl(276deg, 55%, 52%);
}

.tc-2 {
  color: hsl(271deg, 15%, 43%);
}

.tc-3 {
  color: hsl(206deg, 6%, 79%);
}

.tc-4 {
  color: hsl(271deg, 36%, 24%);
}

.tc-5 {
  color: hsl(270deg, 7%, 64%);
}

.t-light {
  color: hsl(0deg, 0%, 100%);
}

.bg-s1 {
  background-color: hsl(270deg, 20%, 96%);
}

/* sizing */
.size-ratio1 {
  aspect-ratio: 1;
}

.gap0 {
  gap: 0.5rem;
}

/* border radius */
.br-100 {
  border-radius: 100%;
}

.br-20 {
  border-radius: 20%;
}

/* padding and margin */
.pd0 {
  padding: 0.5rem;
}

.pd1 {
  padding: 1rem;
}

.pd2 {
  padding: 1.5rem;
}

body {
  min-block-size: 100vh;
  font-family: "Rubik", sans-serif;
  background-color: hsl(0deg, 0%, 100%);
}

input,
button {
  accent-color: hsl(289deg, 100%, 72%);
}

/* mixin for the background */
main {
  grid-template: "chat-app content" 125vh/1fr 1fr;
  gap: 5.5rem;
}
main .chat {
  position: relative;
  grid-area: chat-app;
}
main .chat::after {
  content: "";
  position: absolute;
  top: 0;
  left: -35%;
  inline-size: 100%;
  block-size: 100%;
  background-image: linear-gradient(to left, hsl(264deg, 100%, 61%), hsl(293deg, 100%, 63%));
  border-radius: 0 0 50% 50%;
}
main .content {
  align-self: center;
  grid-area: content;
}
main .content h2, main .content p {
  max-inline-size: 60%;
}

.chat-box {
  position: relative;
  top: 0;
  z-index: 1;
  margin-inline: auto clamp(2rem, 4vh + 1rem, 5rem);
  max-inline-size: 16rem;
  block-size: 33.5rem;
  margin-block-start: 25vh;
  border: 0.5rem solid hsl(0deg, 0%, 100%);
  border-radius: 30px;
  box-shadow: 1px 1px 15px 1px hsl(270deg, 7%, 64%), 1px 1px 5px 1px hsl(270deg, 7%, 64%);
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
.chat-box::-webkit-scrollbar {
  display: none;
}
.chat-box__header {
  position: sticky;
  top: 0;
  padding-inline: 1rem;
  padding-block: 2rem 0.5rem;
  margin-block-end: 0.75rem;
  background-image: linear-gradient(to left, hsl(293deg, 100%, 63%) 10%, hsl(264deg, 100%, 61%));
  border-radius: 25px 25px 10px 10px;
}
.chat-box__header::before {
  content: "";
  position: absolute;
  top: 0;
  inline-size: 60%;
  block-size: 1.25rem;
  margin-inline: 2rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 0 0 15px 15px;
}
.chat-box__header .back-icon {
  max-inline-size: 0.75rem;
}
.chat-box__header .avatar {
  max-inline-size: 1.5rem;
  block-size: 1.5rem;
  border: 1px solid hsl(0deg, 0%, 100%);
}
.chat-box__header .options-icon {
  max-inline-size: 0.75rem;
  margin-inline: auto 0;
}
.chat-box__messages {
  padding: 0.25rem 0.5rem;
}
.chat-box__input {
  position: sticky;
  bottom: 0;
  border-radius: 10px;
  padding: 0.5rem;
}
.chat-box__input .input-message {
  inline-size: 14rem;
  color: hsl(271deg, 15%, 43%);
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 50px;
}
.chat-box__input .send-chat {
  position: absolute;
  top: 23%;
  right: 5%;
  max-inline-size: 1.75rem;
  border: none;
  cursor: pointer;
}

.chat-box__messages .chat__user, .chat-box__messages .chat__walker {
  max-inline-size: 8.5rem;
  margin-block-end: 1rem;
}
.chat-box__messages .chat__user p, .chat-box__messages .chat__walker p {
  padding: 0.5rem;
  margin-block-end: 0.5rem;
}
.chat-box__messages .chat__walker p {
  width: fit-content;
  color: hsl(276deg, 55%, 52%);
  background-color: hsl(272deg, 40.5%, 92.7%);
  border-radius: 10px 10px 10px 0;
}
.chat-box__messages .chat__user {
  margin-inline: auto 0;
}
.chat-box__messages .chat__user p {
  width: fit-content;
  margin-inline: auto 0;
  color: hsl(271deg, 15%, 43%);
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px 10px 0 10px;
}
.chat-box__messages .dog-image > * {
  max-inline-size: 2.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-price label {
  inline-size: 9rem;
  padding: 0.5rem;
  color: hsl(0deg, 0%, 100%);
  background-image: linear-gradient(to right, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
  border: none;
  border-radius: 10px 10px 10px 0;
}
.form-price label input {
  appearance: none;
  inline-size: 0.75rem;
  aspect-ratio: 1;
  border: 1px solid hsl(270deg, 20%, 96%);
  border-radius: 50%;
}
.form-price label input:focus-within {
  appearance: auto;
}
.form-price label span {
  font-size: 0.75rem;
  font-weight: 700;
  margin-inline: auto 0;
}

footer {
  bottom: 0;
  margin-top: 3.5rem;
}
footer p {
  inline-size: fit-content;
  margin-inline: auto;
}

/* media queries */
@media (max-width: 900px) and (min-width: 750px) {
  main {
    gap: 0;
  }
  .content > * {
    margin-inline: auto;
  }
}
@media (max-width: 749px) {
  main {
    grid-template: "chat-app" 680px "content" auto/1fr;
    gap: 1.5rem;
  }
  main .chat::after {
    content: "";
    position: absolute;
    top: 0;
    left: -35%;
    inline-size: 75%;
    block-size: 100%;
    background-image: linear-gradient(to left, hsl(264deg, 100%, 61%), hsl(293deg, 100%, 63%));
    border-radius: 0 0 50% 50%;
  }
  main .chat .chat-box {
    margin-inline: auto;
    margin-block-start: 10vh;
  }
  main .content {
    padding-inline: 3.5rem;
  }
  main .content #h2 {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
  }
  main .content #h2, main .content p {
    max-inline-size: 100%;
    margin-inline: auto;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
